@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

.mob-nav .fa {
  width: 18px;
  height: 12px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.desktop-nav {
  display: none;
}

.mob-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-nav .mob-nav-menu {
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.my-logo {
  width: 76px;
  height: 20px;
  color: #6070ff;
}

header {
  width:375px;
  background: #fff;
  padding: 24px; 

}

.headline-section {
  border-bottom-left-radius: 100vmax;
}

.headline-section .headline-bg-image {
  background-color: #fff;
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: absolute;
  width:375px;
  height: 718px;
  display:flex;
  flex-direction: column;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

.headline-intro {
  width:327px;
  padding: 54px 24px 24px 24px;
  height: 150px;
  color: #172B4D;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-intro-text {
  width:327px;
  padding: 24px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline-social-connect {
  margin-top: 12px;
  padding: 24px 20px 0px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.headline-media-links {
  display: flex;
  padding-left:24px
}

.headline-media-links span {
  display:block;
  margin:0px 24px 0px 0px;
  width:20px;
  height: 20px;
  color: #505F79;
  
}